/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*-------Setup basics CSS---------*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
    /*overflow-x: hidden;*/
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1;
    font-weight: 400;
}

a {
    text-decoration: none !important;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

input,
textarea,
button {
    outline: none;
    box-shadow: none;
    font-family: 'Roboto Condensed', sans-serif;
}


/*------------Style Here-------------*/


/*---Header---*/

.wrap-header {
    height: 100%;
    width: 100%;
    /*background-color: #ccc;*/
}

.slider-top {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    /*z-index: 999;*/
}

.sb-description h3 {
    font-size: 4rem;
}

.sb-slider {
    width: 100%;
    height: 100%;
}

.sb-slider li a>img {
    width: 100%;
    height: 100%;
}

.slide-text .slide-text--title,
.slide-text .slide-text--desc,
.slide-text .slide-text--desc2 {
    z-index: 999;
}

.icon-animation {
    position: absolute;
    z-index: 99;
}

.icon-animation-1 {
    top: 60%;
    left: 10%;
}

.icon-animation-2 {
    top: 15%;
    right: 10%;
}

.icon-animation-3 {
    top: 45%;
    left: 55%;
}

.icon-animation-4 {
    top: 20%;
    left: 10%;
}

.icon-animation-5 {
    bottom: 20%;
    left: 20%;
}

.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    user-select: none;
}

.slide-text .slide-text--title {
    color: #fff;
    display: block;
    font-size: 6rem;
    font-family: 'Lobster', cursive;
    letter-spacing: 1rem;
    padding-bottom: 1rem;
}

.slide-text--title-2 {
    font-size: 4rem;
}

.slide-text .slide-text--desc {
    color: #fff;
    display: block;
    font-size: 4rem;
    letter-spacing: 0.5rem;
}

.slide-text .slide-text--desc2 {
    color: #fff;
    display: block;
    font-size: 4rem;
    letter-spacing: 0.5rem;
}

.slide-text .slide-text--title span {
    display: inline-block;
    position: relative;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(100px);
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.slide-text .slide-text--desc span {
    display: inline-block;
    position: relative;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 2.5s;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.slide-text .slide-text--desc2 span {
    display: inline-block;
    position: relative;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 5s;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.sb-slider .talent {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 20%;
    right: 25%;
    /*transform: translate(-50%, -50%);*/
    font-size: 7rem;
    color: #fff;
    text-shadow: 0 0 2rem forestgreen;
    font-weight: 700;
    letter-spacing: 0.2px;
}


/*---Content----*/


/*--Service Index--*/

.group__services-text {
    text-transform: uppercase;
    color: #0aa246;
    text-align: center;
    margin: 2rem 0 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    background: rgba(0, 0, 0, 0) url('http://thietkewebnhanh247.com/wp-content/themes/thietkewebsite/img/bg_h2.png') no-repeat scroll center bottom;
    padding-bottom: 2.5rem;
}

.content {
    font-size: 1.6rem;
    line-height: 2.5rem;
    /*letter-spacing: 0.4px;*/
}

.list__services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list__services-stt {
    text-align: center;
}

.list__services-stt:hover:first-child,
.list__services-stt:hover:last-child {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);
    z-index: 2;
    transform: scale(1.11);
}

.list__services-stt:nth-child(2) {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);
    z-index: 2;
    border-radius: 2px;
    padding: 1rem;
    background-color: #f7f7f7;
}

.list__services-stt .list__services-img {
    margin: 1rem auto 1rem;
    width: 5.5rem;
}

.list__services-stt .list__services-link,
.list__services-title a,
.list__services-desc a,
.view-more a {
    color: #01923e;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s;
}

.list__services-stt .list__services-link:hover,
.list__services-title a:hover,
.list__services-desc a:hover {
    color: #ffc10e;
}

.list__services-title a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.list__services-stt .list__services-link {
    padding-bottom: 1rem;
}

.list__services-stt:first-child,
.list__services-stt:last-child {
    background-color: #f9f9f9;
    padding: 1rem;
    /*margin-top: 1rem;*/
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    transition: all 0.4s;
}


/*.list__services-stt:nth-child(2) {
    background-image: url('http://thietkewebnhanh247.com/wp-content/themes/thietkewebsite/img/webdesign.png');
    background-size: cover;
    padding: 1rem;
    background-color: #f7f7f7;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08) !important;
}*/

.list__services-stt:hover:first-child .list__services-stt:nth-child(2),
.list__services-stt:hover:last-child .list__services-stt:nth-child(2) {
    z-index: -2222;
    transform: scale(0.89);
    transition: all 0.4s;
}


/*.list__services-stt:hover:first-child .list__services-stt:nth-child(2),
.list__services-stt:hover:last-child .list__services-stt:nth-child(2) {
    z-index: -2222;
    transform: scale(0.89);
    transition: all 0.4s;
    color: red;
}*/

.list__services-stt-2 {
    transition: all 0.4s;
}

.list__services-stt:nth-child(2) .list__services-link,
.list__services-stt:nth-child(2) .list__services-title a,
.list__services-stt:nth-child(2) .list__services-desc a,
.list__services-stt:nth-child(2) .view-more a {
    color: #01923e;
}

.list__services-stt:nth-child(2) .list__services-link:hover,
.list__services-stt:nth-child(2) .list__services-title a:hover,
.list__services-stt:nth-child(2) .list__services-desc a:hover,
.list__services-stt:nth-child(2) .view-more a:hover {
    color: #ffc10e;
}

.group__services {
    position: relative;
}


/*.group__services:after {
    content: "";
    background-color: #137cc0;
    width: 2.5rem;
    height: 4px;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -15%;
    transform: translate(-50%);
    margin-bottom: 2rem;
}*/

.hr {
    background-color: #137cc0;
    width: 2.5rem;
    height: 4px;
    display: block;
    margin: 3rem auto 0;
}


/*--Services Block--*/

.services__block {
    margin-top: 5rem;
}

.services__block-stt {
    margin: auto;
    text-align: center;
}

i.fas.fa-book,
i.far.fa-list-alt,
i.fas.fa-pencil-alt,
i.fas.fa-globe-americas {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #337ab7;
    padding: 0.5em 0.6em;
}

.services__block-stt a {
    color: #ffc10e;
    margin-bottom: 1.5rem;
    display: inline-block;
}

.services__block-stt a:hover {
    color: #01923e;
}

.services__block-stt a:hover i.fas.fa-book,
.services__block-stt a:hover i.far.fa-list-alt,
.services__block-stt a:hover i.fas.fa-pencil-alt,
.services__block-stt a:hover i.fas.fa-globe-americas {
    border-color: #01923e;
}

.services__block-stt a i.fas.fa-book,
.services__block-stt a i.far.fa-list-alt,
.services__block-stt a i.fas.fa-pencil-alt,
.services__block-stt a i.fas.fa-globe-americas {
    border-color: #01923e;
}

.services__block-text a {
    color: #414141;
    text-decoration: none;
}

.welcome__massage {
    background-color: #F2F2F2;
    padding: 2.5rem 0 1.5rem;
    margin-bottom: 1rem;
}

.welcome__massage-wrap {
    text-align: center;
}

.welcome__massage-wrap h3 {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.welcome__massage-wrap p {
    padding-bottom: 1rem;
}

.welcome__massage-wrap h3 span {
    color: #0aa246;
}

.btn {
    outline: none;
    box-shadow: none;
    border: none;
    margin-bottom: 20px;
}


/*--List Category--*/

.list__category {
    padding: 2rem 0;
}

.list__category-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
}

.list__category-item div a img {
    width: 30px;
    height: 30px;
}


/* .list__category-item li {
    padding: 0px 1rem;
}

.list__category-item li p a {
    text-align: center;
    color: #333;
    display: inline-block;
}

.list__category-item li p a:hover {
    color: #145c92;
}

.list__category-item li a img {
    margin: 0 auto;
} */


/*--WooCommerce--*/

.woocommerce__list {
    margin-bottom: 2rem;
}

.woocommerce__list a p {
    text-align: center;
}

.woocommerce__list .woocommerce__list-text .btn.btn-success {
    float: right;
}

.woocommerce__list a span {
    height: 347px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
}

.woocommerce__list a span img {
    width: 100%;
}

.woocommerce__list a p {
    padding: 1rem 2rem;
    color: #333;
}


/*--More info---*/

.more__info {
    background: rgba(0, 0, 0, 0) url("http://thietkewebnhanh247.com/wp-content/themes/thietkewebsite/img/bg_dknt.png");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.more__info-wrap {
    color: white;
    text-align: center;
    margin: auto;
}

.more__info-wrap--p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

.more__info-wrap--title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: #fff;
    text-shadow: none;
}

.more__info-wrap--desc {
    margin-bottom: 1rem;
}

.more__info-wrap--btn .btn.btn-success {
    margin-left: 1rem;
}


/*--Customer--*/

.customer {
    margin-bottom: 2rem;
}

.customer__text {
    text-align: center;
    margin-bottom: 2rem;
}

.customer__text--desc {
    text-transform: uppercase;
}

.customer__silder img {
    margin: 0 1rem;
    outline: none;
    border: none;
}


/*--Contact--*/

.contact {
    background-color: #F2F2F2;
    padding: 2rem 0;
    border-bottom: 1px solid #333;
}

.contact__wrap {
    text-align: center;
    padding: 0 7rem;
}

.contact__wrap-text {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 4.5rem;
}

.contact__wrap-text span {
    font-size: 3.5rem;
}

.contact__wrap-desc {
    margin-bottom: 3rem;
}

.contact__wrap-detail li {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact__wrap-detail--text {
    text-align: left;
    padding-left: 1.5rem;
}

.contact__wrap-detail--text span {
    color: #969696;
}

.contact__wrap-detail--text>a {
    color: #333;
    font-weight: 700;
}


/*---Footer---*/

.footer__wrap {
    background-color: #F2F2F2;
    padding: 2.5rem 0;
}

.footer__wrap-info li,
.footer__detail-service--text li,
.footer__detail-support--text li,
.footer__detail-design--text li {
    color: #333;
    font-size: 1.5rem;
    padding: 0.3rem 0;
    display: flex;
    margin-bottom: 1%;
    /*display: inline-block;*/
}

.footer__wrap-info li a:hover,
.footer__detail-service--text li a:hover,
.footer__detail-support--text li a:hover,
.footer__detail-design--text li a:hover {
    color: #01923e;
}

.footer__wrap-info li i.check,
.footer__detail-service--text li i.check,
.footer__detail-support--text li i.check,
.footer__detail-design--text li i.check {
    color: #333;
    margin-right: 2%;
}

.footer__wrap-info li i.check,
.footer__detail-service--text li i,
.footer__detail-support--text li i,
.footer__detail-design--text li i {
    padding-right: 0.5rem;
}

.footer__detail-info--title,
.footer__detail-service--title,
.footer__detail-support--title,
.footer__detail-design--title {
    font-size: 1.9rem;
    font-weight: 700;
    padding-bottom: 1rem;
}


/*--Copy-right--*/

.copy__right {
    background-color: black;
    font-size: 1.7rem;
}

.copy__right--icon i {
    padding: 0.5rem 0.1rem;
}

.copy__right--text {
    display: flex;
    align-items: center;
    line-height: 44px;
}

.copy__right--text i {
    color: white;
    padding-right: 0.5rem;
}

.copy__right--text a {
    color: white;
}

.btn-social-icon {
    color: #fff;
}

.btn-facebook {
    background-color: #3b5998;
    /*color: #fff;*/
}


/**/

.box {
    background-color: #000;
    transition: ease-in-out 3s;
    background-position: top;
    background-size: cover;
    max-width: 100%;
    padding-left: 10px;
    height: 400px;
    border: #767676 solid 1px;
    margin-bottom: 100px!important;
}

.box:hover {
    background-position: bottom;
    cursor: pointer;
    /*box-shadow: 1px -1px 10px 3px #8c8c8c;*/
}

.modal {
    z-index: 999999999;
}

.modal-content {
    font-size: 1.6rem;
}

.form-group {
    margin-left: 2rem;
}

tbody {
    text-align: left;
}

.media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.media-body p a,
.big-title {
    font-weight: 700;
}

.mr-4.mt-2 {
    margin-right: 2rem;
}

#id01 .justify-content-start {
    display: flex;
}

#id01 .justify-content-start i {
    margin-right: 1rem;
}

#id01 .justify-content-start span {
    line-height: 2rem;
}

.bang-gia {
    border: #767676 solid 1px;
}

.bang-gia tr td {
    border: #767676 solid 1px;
    font-weight: bold;
    font-family: inherit;
}