<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quy Trình Thiết Kế Website</title>
    <link rel="shortcut icon" href="image/icontab.ico" type="image/x-icon">
    <meta property="og:image" content="http://web88.vn/image/logo-okkk.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://web88.vn/" />
    <meta property="og:title" content="Thiết Kế Website Chuyên Nghiệp" />
    <meta property="og:description" content="Thiết kế web chuyên nghiệp của Talent Wins sử dụng công nghệ thiết kế web chuyên nghiệp, thiết kế web nhanh chỉ với bốn bước cơ bản. Website được tối ưu với các công cụ tìm kiếm, Website tương thích với các thiết bị di động…" />
    <!-- boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- reset css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap" rel="stylesheet">
    <!-- Slider top -->
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/demo.css">
    <link rel="stylesheet" href="css/slicebox.css">
    
    <!-- Slick css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <!-- WOW JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <!-- style.css -->
    <link rel="stylesheet" href="css/masterpage.css">
    <link rel="stylesheet" href="css/query.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/khogiaodien.css">
    <link rel="stylesheet" href="css/dichvu-thietkewebgiare.css">
</head>
<body>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0&appId=570055446860048&autoLogAppEvents=1"></script>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0&appId=570055446860048&autoLogAppEvents=1"></script>
<header>
    <div class="header">
      <!-- Thanh điều hướng -->
        
        <nav class="navbar navbar-expand-lg navbar-dark nav-top" id="navbar">
            <div class="container">
        <!-- Brand/logo -->
                <a class="navbar-brand" href="index.html">
                    <img src="./image/logo.jpg" alt="logo" class="logo">
                </a>

      <!-- Links -->
                <ul class="navbar-nav ul-nav">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link text-dark">TRANG CHỦ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light" href="khogiaodien.html">KHO GIAO DIỆN <i class="fa fa-plus plus" aria-hidden="true"></i></a>
                        <div class="dropdown-content">
                            <a href="khogiaodien.html">Mẫu web thương mại điện tử</a>
                            <a href="khogiaodien.html">Mẫu web giới thiệu công ty  </a>
                            <a href="khogiaodien.html">Mẫu web ảnh viện áo cưới  </a>
                            <a href="khogiaodien.html">Mẫu web âm nhạc  </a>
                            <a href="khogiaodien.html">Mẫu web nhà hàng khách sạn  </a>
                            <a href="khogiaodien.html">Mẫu web bất động sản  </a>
                            <a href="khogiaodien.html">Mẫu web cá nhân  </a>
                            <a href="khogiaodien.html">Mẫu web du lịch  </a>
                            <a href="khogiaodien.html">Mẫu web giáo dục  </a>
                            <a href="khogiaodien.html">Mẫu web tin tức  </a>
                        </div>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link text-light" href="dichvu-thietkewebgiare.html">DỊCH VỤ <i class="fa fa-plus plus" aria-hidden="true"></i></a>
                        <div class="dropdown-content">
                            <a href="dichvu-thietkewebgiare.html">Thiết kế web giá rẻ</a>
                            <a href="./thietkewebtheomau.html">Thiết kế web theo mẫu</a>
                            <a href="./thietkewebtheoyeucau.html">Thiết kế web theo yêu cầu</a>
                            <a href="./thietkewebchuanseochuyennghiep.html">Thiết kế web chuẩn SEO chuyên nghiệp</a>
                            <a href="./thietkewebchuanmobile.html">Thiết kế web chuẩn Mobile</a>
                            <a href="./dichvuseowebsite.html">Dịch vụ SEO website</a>
                            <a href="./dichvuvietbaichuanseo.html">Dịch vụ viết bài SEO website</a>
                            <a href="./thietkewebtrongoigiare.html">Thiết kế web trọn gói giá rẻ</a>
                            <a href="./chamsocwebsite.html">Chăm sóc website</a>
                            <a href="./hostingchatluongcao.html">Hosting chất lượng cao</a>
                            <a href="./domaingiare.html">Domain giá rẻ</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="thietkewebsite.html">THIẾT KẾ WEBSITE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="seo.html">SEO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="khachhang.html">KHÁCH HÀNG</a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a href="javascript:void(0)" class="nav-link text-light">THÊM <i class="fa fa-plus plus" aria-hidden="true"></i></a>
                        <div class="dropdown-content">
                            <a href="./gioithieudichvu.html">Giới thiệu dịch vụ</a>
                            <a href="./banggiathietkewebsite.html">Bảng giá web trọn gói</a>
                            <a href="./tintuc.html">Tin tức</a>
                            <a href="./hotrokhachhang.html">Hỗ trợ khách hàng</a>
                            <a href="./hinhthucthanhtoan.html">Hình thức thanh toán</a>
                            <a href="./tuyendung.html">Tuyển dụng</a>
                            <a href="./quuytrinhthietkewebsite.html">Quy trình thiết kế website</a>
                            <a href="./dieukienvachinhsach.html">Điều kiện và chính sách</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="lienhe.html">LIÊN HỆ</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link text-light" onclick="document.getElementById('id01').style.display='block'">ĐĂNG KÝ</a>
                    </li>
                </ul>
                <span class="ba-vach" onclick="openNav()">&#9776;</span>
            </div>
        </nav>
<!-- end navbar -->
    </div>
    <div id="mySidenav" class="sidenav">
        <div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" title="Đóng Menu">&times;</a>
        </div>
        
        <a href="index.html">TRANG CHỦ</a>
        <a class="nav-link col1">KHO GIAO DIỆN<i class="fa fa-plus plus" style="
margin-left: 0.5rem;" aria-hidden="true"></i></a>
        <div class="kho-giao-dien" id="col1" style="display: none;">
            <a href="khogiaodien.html" class="nav-link">Mẫu web thương mại điện tử</a>
            <a href="khogiaodien.html">Mẫu web giới thiệu công ty  </a>
            <a href="khogiaodien.html">Mẫu web ảnh viện áo cưới  </a>
            <a href="khogiaodien.html">Mẫu web âm nhạc  </a>
            <a href="khogiaodien.html">Mẫu web nhà hàng khách sạn  </a>
            <a href="khogiaodien.html">Mẫu web bất động sản  </a>
            <a href="khogiaodien.html">Mẫu web cá nhân  </a>
            <a href="khogiaodien.html">Mẫu web du lịch  </a>
            <a href="khogiaodien.html">Mẫu web giáo dục  </a>
            <a href="khogiaodien.html">Mẫu web tin tức  </a>
        </div>
        <a class="nav-link col2">DỊCH VỤ<i class="fa fa-plus plus" aria-hidden="true" style="
margin-left: 0.5rem;"></i></a>
        <div class="kho-giao-dien" id="col2" style="display: none;">
                <a href="dichvu-thietkewebgiare.html">Thiết kế web giá rẻ</a>
                <a href="./thietkewebtheomau.html">Thiết kế web theo mẫu</a>
                <a href="./thietkewebtheoyeucau.html">Thiết kế web theo yêu cầu</a>
                <a href="./thietkewebchuanseochuyennghiep.html">Thiết kế web chuẩn SEO chuyên nghiệp</a>
                <a href="./thietkewebchuanmobile.html">Thiết kế web chuẩn Mobile</a>
                <a href="./dichvuseowebsite.html">Dịch vụ SEO website</a>
                <a href="./dichvuvietbaichuanseo.html">Dịch vụ viết bài SEO website</a>
                <a href="./thietkewebtrongoigiare.html">Thiết kế web trọn gói giá rẻ</a>
                <a href="./chamsocwebsite.html">Chăm sóc website</a>
                <a href="./hostingchatluongcao.html">Hosting chất lượng cao</a>
                <a href="./domaingiare.html">Domain giá rẻ</a>
        </div>
        <a href="thietkewebsite.html">THIẾT KẾ WEBSITE</a>
        <a href="seo.html">SEO</a>
        <a href="khachhang.html">KHÁCH HÀNG</a>
        <a href="javascript:void(0)" class="nav-link col3">THÊM<i class="fa fa-plus plus" aria-hidden="true" style="
margin-left: 0.5rem;"></i></a>
        <div class="kho-giao-dien" id="col3" style="display: none;">
                <a href="./gioithieudichvu.html">Giới thiệu dịch vụ</a>
                <a href="./banggiathietkewebsite.html">Bảng giá web trọn gói</a>
                <a href="./tintuc.html">Tin tức</a>
                <a href="./hotrokhachhang.html">Hỗ trợ khách hàng</a>
                <a href="./hinhthucthanhtoan.html">Hình thức thanh toán</a>
                <a href="./tuyendung.html">Tuyển dụng</a>
                <a href="./quuytrinhthietkewebsite.html">Quy trình thiết kế website</a>
                <a href="./dieukienvachinhsach.html">Điều kiện và chính sách</a>
        </div>
        <a href="lienhe.html">LIÊN HỆ</a>
        <a onclick="document.getElementById('id01').style.display='block'">ĐĂNG KÝ</a>
    </div>
</header>
    <div class="content">
        <div class="content__top">  
            <div class="content__top-img">
                <div class="col-12 col-md-12 content-block">
                    <h3 class="content__top-title wow bounceInLeft">
                        THIẾT KẾ WEB GIÁ RẺ UY TÍN CHUYÊN NGHIỆP
                    </h3>
                    <p class="content__top-desc wow bounceInRight">
                        Một website chuyên nghiệp cho việc bán hàng, bất động sản, du lịch, nhà hàng, khách sạn và quảng bá thương hiệu trở nên dễ dàng hơn
                    </p>
                    <div class="input-group col-sm-4 form__search">
                        <input class="form-control"
                        placeholder="Tìm kiếm">
                        <div class="input-group-addon btn-search" >
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>

            </div>                  
        </div>
        <!--  -->
        <div class="content-main">
            <div class="container">
                <div class="time">
                    <i class="far fa-calendar-alt"></i>
                    20-07-2019
                </div>
                <div class="index">
                    <p class="index-title">Mục lục</p>
                    <ul class="index__list">
                        <li>
                            <i class="fas fa-caret-right"></i>
                            <a href="javascript:void(0)">Thiết kế web giá rẻ chuyên nghiệp</a>
                            <ul class="index__list-1">
                                <li>
                                    <i class="fas fa-caret-right"></i>
                                    <a href="javascript:void(0)">Dịch vụ làm web giá rẻ , uy tín , chuyên nghiệp chuẩn SEO và chất lượng</a>
                                </li>
                                <li>
                                    <i class="fas fa-caret-right"></i>
                                    <a href="javascript:void(0)">Quy trình nhận thiết kế website chuyên nghiệp của chúng tôi</a>
                                </li>
                                <li>
                                    <i class="fas fa-caret-right"></i>
                                    <a href="javascript:void(0)">Khi sử dụng dịch vụ thiết kế website của chúng tôi sẽ mang lại cho bạn những lợi ích tốt nhất</a>
                                    <ul class="index__list-2">
                                        <li>
                                            <i class="fas fa-caret-right"></i>
                                            <a href="javascript:void(0)">Chúng tôi giúp được gì cho bạn?</a>
                                        </li>
                                        <li>
                                            <i class="fas fa-caret-right"></i>
                                            <a href="javascript:void(0)">Website của bạn sẽ được thiết kế như thế nào ?</a>
                                        </li>
                                        <li>
                                            <i class="fas fa-caret-right"></i>
                                            <a href="javascript:void(0)">Tại sao bạn nên chọn dịch vụ thiết kế web giá rẻ của chúng tôi ?</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-caret-right"></i>
                                    <a href="javascript:void(0)">
                                        THIẾT KẾ WEBSITE GIÁ RẺ CỦA THIẾT KẾ WEB NHANH CAM KẾT
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <p>
                    <a href="javascript:void(0)">
                        <strong>Thiết kế web giá rẻ</strong>
                    </a> tại 
                    <strong>thiết kế web nhanh</strong> bạn sẽ có một website chất lượng, <strong>chuyên nghiệp</strong> , <strong>chuẩn SEO</strong>, <strong>giao diện đẹp</strong> và&nbsp; thân thiện với người sử dụng.
                </p>
                <ul class="list1">
                    <li>
                        <i class="fas fa-check"></i>
                        <span>Bạn đang muốn sở hữu một website để bắt đầu kinh doanh online ?</span>
                    </li>
                    <li>
                        <i class="fas fa-check"></i>
                        <span>Bạn muốn sản phẩm , dịch vụ của mình được mọi người biết đến ?</span>
                    </li>
                    <li>
                        <i class="fas fa-check"></i>
                        <span>Bạn muốn thương hiệu của mình được mọi người biết đến ?</span>
                    </li>
                    <li>
                        <i class="fas fa-check"></i>
                        <span>Song nguồn vốn kinh doanh của bạn có hạn nên bạn phải tiết kiệm chi phí thiết kế website ?</span>
                        </li>
                    <li>
                        <i class="fas fa-check"></i>
                        <span>Bạn đang băn khoăn không biết <strong>dịch vụ thiết kế web giá rẻ&nbsp;</strong> thì chất lượng website có đảm bảo hay không ?</span>
                        </li>
                </ul>
                <img class="img-index-1" src="http://thietkewebnhanh247.com/wp-content/uploads/2016/10/thiet-ke-web-gia-re.jpg" alt="">
                <h3 class="text-title-2">
                    Thiết kế web giá rẻ chuyên nghiệp
                </h3>
                <div class="box-content">
                    <div class="mess_design">
                        Khi 
                        <b class="green">Thiết kế web giá rẻ&nbsp;</b>
                        tại công ty <b class="font-orange">Talent Wins</b>, khách hàng sẽ nhận lại được sự yên tâm với những tiêu chí như:
                    </div>
                        <ul class="specal_list_content"><li><i class="far fa-thumbs-up"></i></i> Trang web đẹp hiệu ứng mượt</li><li><i class="far fa-thumbs-up"></i></i> Website được code chuẩn SEO hỗ trợ dữ liệu cấu trúc, AMP mobile Google</li><li><i class="far fa-thumbs-up"></i></i> Khách hàng chọn lựa đa dạng mẫu giao diện có sẵn)</li><li><i class="far fa-thumbs-up"></i></i> Tốc độ website nhanh.</li><li><i class="far fa-thumbs-up"></i></i> Quản lý dễ dàng và thân thiện người dùng.</li><li><i class="far fa-thumbs-up"></i></i> Web tương thích với các thiết bị di động và máy tính bảng.</li></ul>
                </div>
                <h3 class="text-title-2">
                    Dịch vụ làm web giá rẻ , uy tín , chuyên nghiệp chuẩn SEO và chất lượng
                </h3>
                <p>Nếu bạn còn băn khoăn về <a href="javascript:void(0)"><strong>dịch vụ thiết kế website giá rẻ uy tín</strong></a> . Đến với thiết kế web nhanh , bạn hãy yên tâm chỉ với mức giá thiết kế thấp nhưng bạn sẽ có một website đầy đủ tính năng cũng như làm bạn hài lòng nhất.</p>
                <p>Với hơn 6 năm kinh nghiệm trong lĩnh vực <a href="http://thietkewebnhanh247.com"><strong>thiết kế website</strong></a>&nbsp;, chuyên nghiệp . <a href="http://thietkewebnhanh247.com/"><strong>Thiết kế website nhanh</strong></a> sở hữu hơn 1000 giao diện cực đẹp và liên tục cập nhật . Tất cả các mẫu website được chúng tôi nghiên cứu và chuẩn hóa từng ngành nghề cụ thể như :</p>
                <img src="http://thietkewebnhanh247.com/wp-content/uploads/2017/01/banner-web-gia-re.jpg" alt="" class="img-index-1">
                
                <div class="fb-comments" data-href="http://web88.vn/quuytrinhthietkewebsite.html" data-width="100%" data-numposts="5"></div>
            </div>
            
        </div>
        <div class="slide-content-bottom">
            <div class="container">
                <p class="slide-bottom-title">DỊCH VỤ LIÊN QUAN</p>
                <div class="service__silder">
                    <img src="http://thietkewebnhanh247.com/wp-content/uploads/2016/11/banner3-400x250.jpg" alt="">
                    
                    <img src="http://thietkewebnhanh247.com/wp-content/uploads/2016/10/slide1111111111-400x250.jpg" alt="">
                    <img src="http://thietkewebnhanh247.com/wp-content/uploads/2016/12/thiet-ke-website-chuyen-nghiep11-400x250.jpg" alt="">
                    <img src="http://thietkewebnhanh247.com/wp-content/uploads/2016/12/dich-vu-auto-leech-bai-auto-post-400x250.jpg" alt="">
                    <img src="http://thietkewebnhanh247.com/wp-content/uploads/2016/11/gioi-thieu-dich-vu-thiet-ke-website-400x250.jpg" alt="">
                    <img src="http://thietkewebnhanh247.com/wp-content/uploads/2016/11/web-doanh-nghiep-400x250.png" alt="">
                    <img src="http://thietkewebnhanh247.com/wp-content/uploads/2016/11/heading2-400x250.jpg" alt="">
                    
                    <img src="http://thietkewebnhanh247.com/wp-content/uploads/2016/12/thiet-ke-website-nha-hang-400x250.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- Contact -->
        <div class="contact">
                <div class="container">
                    <div class="contact__wrap">
                        <h4 class="contact__wrap-text">
                            Chúng tôi hỗ trợ khách hàng 7 ngày trong tuần với hotline
                            <br>
                            <span>0927 15 15 35</span>
                        </h4>
                        <p class="contact__wrap-desc">Với đội ngũ nhân viên hơn 5 năm kinh nghiệm, không chỉ là hướng dẫn và xử lý các vấn đề từ website, chúng tôi luôn đồng hành tư vấn và phát triển cùng doanh nghiệp của bạn</p>
                        <ul class="row contact__wrap-detail">
                            <li class="col-md-4 col-12">
                                <i class="fas fa-headphones fa-2x"></i>
                                <p class="contact__wrap-detail--text">
                                    <span>Tư vấn thiết kế web</span>
                                    <br>
                                    <a href="javascript:void(0)">0927 15 15 35</a>
                                </p>
                            </li>
                            <li class="col-md-4 col-12">
                                <i class="fas fa-phone-alt fa-2x"></i>
                                <p class="contact__wrap-detail--text">
                                    <span>Hỗ trợ kỹ thuật</span>
                                    <br>
                                    <a href="javascript:void(0)">0988 747 982</a>
                                </p>
                            </li>
                            <li class="col-md-4 col-12">
                                <i class="fas fa-envelope fa-2x"></i>
                                <p class="contact__wrap-detail--text">
                                    <span>Gửi yêu cầu làm web</span>
                                    <br>
                                    <a href="javascript:void(0)">contact@talentwins.co</a>
                                </p>
                            </li>                      
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer__wrap">
                <div class="container">
                    <div class="row">
                        <div class=" col-md-3 col-sm-6 col-12">
                            <ul class="footer__wrap-info">
                                <li>
                                    <i class="fas fa-user fa-fw check"></i>
                                    <a href="javascript:void(0)" class="footer__wrap-info--text">Công ty Công nghệ và Dịch vụ Talent Wins</a>
                                </li>
                                <li>
                                    <i class="fab fa-codepen fa-fw check"></i>
                                    <a href="javascript:void(0)" class="footer__wrap-info--text">Mã số thuế: 0108134425</a>
                                </li>
                                <!-- <li>
                                    <i class="far fa-calendar-alt fa-fw"></i>
                                    <a href="javascript:void(0)" class="footer__wrap-info--text">Ngày cấp: 2018-01-16</a>
                                </li> -->
                                <li>
                                    <i class="fas fa-map-marker-alt fa-fw check"></i>
                                    <a href="javascript:void(0)" class="footer__wrap-info--text ">Tòa nhà CT2, khu đô thị Constrexim Thái Hà, Phạm Văn Đồng, Hà Nội</a>
                                </li>
                                <li>
                                    <i class="fas fa-phone-alt fa-fw check "></i>
                                    <a href="javascript:void(0)" class="footer__wrap-info--text">0927 15 15 35</a>
                                </li>
                                <li>
                                    <i class="far fa-envelope fa-fw check"></i>
                                    <a href="javascript:void(0)" class="footer__wrap-info--text">contact@talentwins.co</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="footer__detail">
                                <p class="footer__detail-service--title">
                                    Dịch vụ
                                </p>
                                <ul class="footer__detail-service--text">
                                    <li>
                                        <i class="fas fa-angle-double-right"></i>
                                        <a href="javascript:void(0)">Dịch vụ quản trị website</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right"></i>
                                        <a href="javascript:void(0)">Dịch vụ SEO từ khóa website giá rẻ</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right"></i>
                                        <a href="javascript:void(0)">Quảng cáo Google Adwords</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right"></i>
                                        <a href="javascript:void(0)">Thiết kế web du lịch chuyên nghiệp</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right"></i>
                                        <a href="javascript:void(0)">Thiết kế web tin tức, báo chí online</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="footer__detail">
                                <p class="footer__detail-support--title">
                                    Hỗ trợ
                                </p>
                                <ul class="footer__detail-support--text">
                                    <li>
                                        <i class="fas fa-angle-double-right"></i>
                                        <a href="javascript:void(0)">Liên hệ chúng tôi</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right"></i>
                                        <a href="javascript:void(0)">Điều kiện và chính sách</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right"></i>
                                        <a href="javascript:void(0)">Quy trình thiết kế website</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right"></i>
                                        <a href="javascript:void(0)">Câu hỏi thường gặp</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right"></i>
                                        <a href="javascript:void(0)">Hỗ trợ khách hàng</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <div class="footer__detail">
                                <p class="footer__detail-design--title">
                                    Thiết kế website
                                </p>
                                <ul class="footer__detail-design--text">
                                    <li>
                                        <i class="fas fa-angle-double-right"></i>
                                        <a href="javascript:void(0)">Thiết kế website chuyên nghiệp</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right"></i>
                                        <a href="javascript:void(0)">Thiết kế website bất động sản</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right"></i>
                                        <a href="javascript:void(0)">Thiết kế web nhà hàng khách sạn</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right"></i>
                                        <a href="javascript:void(0)">Thiết kế web trọn gói chuyên nghiệp</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right"></i>
                                        <a href="javascript:void(0)">Thiết kế web bán hàng chuyên nghiệp</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copy__right">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-12 copy__right--text">
                        <p>
                        <i class="far fa-copyright"></i>
                        <a href="javascript:void(0)">Copyright 2019 | Designed by Talent Wins | Dịch vụ thiết kế website hàng đầu Việt Nam</a>
                    </p>
                    </div>
                    <div class="col-md-3 col-12 copy__right--icon">
                        <i class="fab fa-facebook-square fa-2x"></i>                   
                        <i class="fab fa-google-plus-square fa-2x"></i>
                        <i class="fab fa-twitter-square fa-2x"></i>
                        <i class="fas fa-rss-square fa-2x"></i>
                        <i class="fab fa-linkedin fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    <!-- form dang ki -->
    <div id="id01" class="modal">
        <form class="modal-content animate" action="">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <div class="container pt-4" >
          <div class="row">
            <div class="info-contact col-md-4">
              <h5 style="padding: 2rem 0; color: #333">Thông tin liên hệ</h5>
              <div class="mt-50 text-left">
                <div class="col-md-12 d-flex justify-content-start content-contact" style="padding-bottom: 1.5rem">
                  <i class="fas fa-map-marker-alt"></i>
                  <span>Tòa CT2, khu đô thị Thái Hà Constrexim, 43 Phạm Văn Đồng, Hà Nội</span>
                </div>
                <div class="col-md-12 d-flex justify-content-start content-contact" style="padding-bottom: 1.5rem">
                  <i class="fas fa-envelope"></i>
                  <span>contact@talentwins.co</span>
                </div>
                <div class="col-md-12 d-flex justify-content-start content-contact" style="padding-bottom: 1.5rem">
                  <i class="fas fa-phone-alt"></i>
                  <span>0927 15 15 35 - Zalo</span>
                </div>
                <div class="col-md-12 d-flex justify-content-start content-contact" style="padding-bottom: 1.5rem">
                  <i class="fas fa-globe"></i>
                  <span><a href="javascript:void(0)"> Talentwins.co</a></span>
                </div>
              </div>
              <div class="text-center"><img src="./image/contact.jpg" alt=""></div>
            </div>
            <form class="col-md-8" style="padding-bottom: 2rem"> 
                <div class="form-group">
                    <label for="exampleInputPassword1" style="padding-top: 2rem;">Tên của bạn</label><br>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Tên của bạn">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Địa chỉ email</label><br>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Địa chỉ email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Số điện thoại</label><br>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Số điện thoại">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Tiêu đề</label><br>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tiêu đề">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Nội dung</label><br>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Thông điệp"></textarea>
                </div>
                <button type="submit" class="btn btn-success" onclick="window.alert('Đăng ký thành công!')" style="margin-left: 20px!important;">Gửi</button>
            </form>
          </div>
        </div>
      </form>
    </div>
    <!-- form dang ki end -->

    <!-- Back to top -->
    
    <div id="back-to-top">
        <a href="javascript:void(0)" title="Back to top"><img src="http://thietkewebnhanh247.com/wp-content/themes/thietkewebsite/img/top.png" style="width:35px; height:auto" alt=""></a>
    </div>
    <!-- Phone -->
    <a href="tel:0927151535" mypage="" class="call-now" rel="nofollow">
        <div class="mypage-alo-phone">
            <div class="animated infinite zoomIn mypage-alo-ph-circle">         
            </div>
            <div class="animated infinite pulse mypage-alo-ph-circle-fill">
            </div>
            <div class="animated infinite tada mypage-alo-ph-img-circle">
            </div>
        </div>
    </a>
</body>
<!-- bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Font-awesome -->
<script src="https://kit.fontawesome.com/df8fdd30a5.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<!-- Slider top -->
<script src="js/modernizr.custom.46884.js"></script>
<script src="js/jquery.slicebox.js"></script>
<script src="js/textyle.js"></script>
<!-- Textyle -->
<script src="js/main.js"></script>
<!-- Slick JS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<!-- WOW JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<!-- Slider.js -->
<script src="js/slider.js"></script>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v4.0'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="100910621259961"
  logged_in_greeting="Xin chào! Web88 có thể giúp gì cho bạn?"
  logged_out_greeting="Xin chào! Web88 có thể giúp gì cho bạn?">
</div>
</html>